extends ./_base/base.jade

block title
  title Violentmonkey

block content
  h1 Violentmonkey
  section
    h2 Introduction
    p Violentmonkey is a userscript manager to support running userscripts in web pages. (Similar to Greasemonkey and Tampermonkey)
  section
    h2 Contents
    ul
      li
        a(href='nex/') Violentmonkey NEX
        small for Chromium based Opera and Chrome
      li
        a(href='localization.html') Localization
