extends ./_base/base.jade

block title
  title Localization - Violentmonkey

block content
  h1
    a(href='/') Violentmonkey
    =' > Localization'
  section#nex
    h2 Via PR for NEX
    ol
      li
        = 'Fork Violentmonkey from '
        a(href='https://github.com/violentmonkey/violentmonkey') GitHub
        |.
      li
        = 'Copy '
        code= 'src/_locales/en/messages.yml'
        = ' into '
        code= 'src/_locales/<your_locale>/messages.yml'
        |.
      li Translate it.
      li Commit changes.
      li Send a pull request.
  section
    h2 Via Transifex
    ul
      li
        a(target='_blank' href='https://www.transifex.com/projects/p/violentmonkey-nex/resource/messagesjson/')
          |Violentmonkey NEX
          br
          img(src='https://www.transifex.com/projects/p/violentmonkey-nex/resource/messagesjson/chart/image_png')
        br
        a(target='_blank' href='https://www.transifex.com/')
          img(src='https://tx-assets.scdn5.secure.raxcdn.com/static/charts/images/tx-logo-micro.646b0065fce6.png')
