* {
  margin: 0;
  padding: 0;
}

body {
  padding: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

a {
  color: dodgerblue;
}

h1,
h2 {
  line-height: 2;
}

ol,
ul {
  padding: .5em 2em;
}

section {
  padding: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  &:hover {
    border-color: #999;
  }
}

code {
  padding: 2px 4px;
  background: #eee;
  border: 1px solid #999;
  border-radius: 4px;
}

footer {
  line-height: 3;
  text-align: center;
  color: #888;
}
